.not-found
    width 100%
    background $bege
    text-align center
    display flex
    flex-direction column
    justify-content center
    align-items center
    height calc('100vh - 151px')
    +mobile()
        height calc('100vh - 181px')
    h1
        display inline-block
        padding 15px 18px
        border 2px solid #000
        encodesans 11
        letter-spacing 1px
        color #000
        text-transform uppercase
