footer
    background $marrom
    padding 18px 0
    text-align center
    p
        display block
        opensans 10
        margin 0
        color #fff
        a:hover
            color $dourado
        +mobile()
            span
                font-size 0
                display block
