header
    height 100px
    background $marrom
    .center
        height 100%
        clearfix()
    .logo
        display block
        float left
        height 100%
        width 277px
        text-indent -9999px
        background $img('logo.png') no-repeat center
        background-size 100% auto
        +tablet()
            width 240px
        +mobile()
            width 220px
    #nav-desktop
        float right
        height 100%
        font-size 0
        +mobile()
            display none
        > a
            display inline-block
            encodesans 13
            line-height 100px
            color #fff
            margin-right 37px
            letter-spacing .3px
            &:hover
            &.active
                color $dourado
        .social
            display inline-block
            vertical-align top
            height 100%
            font-size 0
            a
                height 100%
                display inline-block
                width 16px
                transition transform .3s
                &:hover
                    transform translateY(-2px)
                + a
                    margin-left 5px
                &.facebook
                    background $img('face.png') no-repeat center
                &.instagram
                    background $img('insta.png') no-repeat center
    #mobile-toggle
        +above($mobile)
            display none
        display block
        background-color transparent
        border 0
        float right
        height 28px
        width 28px
        margin-top 35px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background $dourado
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $dourado
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($mobile)
            display none !important
        display none
        position relative
        width 100%
        background $dourado
        padding 20px 5%
        z-index 2
        width 100%
        > a
            display block
            text-align right
            encodesans 15
            letter-spacing .3px
            color #fff
            margin-top 12px
            &:first-child
                margin-top 0
            &.active
                color $marrom
        .social
            position absolute
            top 20px
            left 5%
            font-size 0
            a
                display inline-block
                width 16px
                height 16px
                + a
                    margin-left 5px
                &.facebook
                    background $img('face.png') no-repeat center
                &.instagram
                    background $img('insta.png') no-repeat center
