desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$marrom  = #493E33
$bege    = #C1B3A6
$dourado = #A98747

@import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,700|Open+Sans:400,700')

encodesans($size, $weight = normal)
    font-size $size + 0px
    font-family 'Encode Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700

opensans($size, $weight = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700
