.contato
    position relative
    .mapa
        position absolute
        top 0
        right 0
        height 100%
        width calc('50% + 90px')
        +tablet()
            width 45%
        +mobile()
            width 100%
            height 300px
            position relative
        iframe
            display block
            width 100%
            height 100%
    .wrapper
        width 400px
        padding 50px 0
        +tablet()
            width 50%
        +mobile()
            width 100%
            padding 30px 0
        h2
            encodesans 24 bold
            color $marrom
            margin 1.5em 0 1em
            &:first-child
                margin-top 0
            +mobile()
                font-size 20px
        p
            opensans 12
            color $marrom
            margin 0
            line-height 2
        .social
            font-size 0
            margin-top 14px
            a
                display inline-block
                width 16px
                height 16px
                transition transform .3s
                &:hover
                    transform translateY(-2px)
                + a
                    margin-left 5px
                &.facebook
                    background $img('face-contato.png') no-repeat center
                &.instagram
                    background $img('insta-contato.png') no-repeat center
        form
            clearfix()
            input
            textarea
                width 100%
                display block
                background none
                border 0
                margin-bottom 10px
                outline 0
            input[type=text]
            input[type=email]
            textarea
                border-left 1px solid $marrom
                border-right 1px solid $marrom
                border-bottom 1px solid $marrom
                encodesans 11
                padding 0 12px
                height 30px
                color #000
                +placeholder()
                    color $marrom
            textarea
                resize none
                height 150px
                padding 8px 12px
            input[type=submit]
                width auto
                display inline-block
                float right
                encodesans 14
                letter-spacing .5px
                color $marrom
                cursor pointer
                background $img('seta-projeto.png') no-repeat right center
                padding-right 18px
                transition padding .3s
                &:hover
                    padding-right 14px
            .response-wrapper
                min-height 28px
                width 100%
                float left
                #form-contato-response
                    display none
                    background rgba($marrom, .3)
                    padding 8px
                    encodesans 10px
                    color #fff
                    text-align center
                    letter-spacing .3px
