.empresa
    padding 50px 0
    +mobile()
        padding 30px 0
    .center
        clearfix()
    img
        display block
        width 39.58%
        float left
        +mobile()
            width 100%
            margin-bottom 25px
    .texto
        width 56.25%
        float right
        h2
            encodesans 24 bold
            color $marrom
            margin 0 0 1.5em
        p
            color $marrom
            opensans 12
            margin 0
            + p
                margin-top 1em
        h2
        p
            max-width 550px
        +mobile()
            width 100%
            h2
                font-size 20px
