.banners
    position absolute
    top 100px
    left 0
    width 100%
    height calc('100% - 100px')
    .slide
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        background-size cover
        background-position center
