.projetos
    padding 50px 0
    +mobile()
        padding 30px 0
    .projetos-thumbs
        clearfix()
        a
            display block
            float left
            margin-right 6px
            margin-bottom 6px
            position relative
            +above($tablet)
                width calc('25% - 4.5px')
                &:nth-child(4n)
                    margin-right 0
            +tablet()
                width calc('33.333% - 4px')
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width calc('50% - 3px')
                &:nth-child(2n)
                    margin-right 0
            img
                width 100%
                display block
            .overlay
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background $img('linhas-projeto.png') no-repeat center rgba($dourado, .75)
                display flex
                flex-direction column
                justify-content center
                align-items center
                opacity 0
                transition opacity .3s
                color #fff
                span
                    display block
                    encodesans 12
                    &:first-child
                        encodesans 16
                        margin-bottom 3px
                +below($tablet)
                    display none
            &:hover .overlay
                opacity 1
    .projetos-show
        clearfix()
        position relative
        .informacoes
            width 30%
            float left
            color $marrom
            padding-bottom 150px
            h1
                encodesans 24 bold
                margin 0 0 8px
            h2
                encodesans 18
                margin 0 0 1em
            p
                opensans 12
                margin 0
                max-width 90%
            .descricao
                margin 30px 0 40px
                p + p
                    margin-top 1em
            .parceiros
                p
                    opensans 12
                    margin 0
                    + p
                        margin-top 1em
                ul
                    padding 0
                    margin 1em 0
                    list-style none
                    opensans 12
                    &:first-child
                        margin-top 0
                    &:last-child
                        margin-bottom 0
                    li
                        position relative
                        padding-left .75em
                        + li
                            margin-top .5em
                        &:before
                            content '\00b7'
                            position absolute
                            left 0
            +mobile()
                width 100%
                margin-bottom 25px
                padding-bottom 0
                h1
                    font-size 20px
                h2
                    font-size 16px
                .descricao
                    margin 20px 0 30px
        .imagens
            width 66.667%
            float right
            img
                display block
                width 100%
                height auto
            +mobile()
                width 100%
        .navegacao
            width 30%
            position absolute
            bottom 0
            left 0
            text-align right
            +mobile()
                float right
                width 100%
                position relative
                margin-top 30px
                padding-right 10px
            a
                display block
                encodesans 13
                color $marrom
                letter-spacing .3px
                position relative
                &:hover
                    color #000
                + a
                    margin-top 10px
                &.anterior
                    padding-right 16px
                    &:after
                        content ''
                        position absolute
                        width 9px
                        height 11px
                        right 0
                        top 50%
                        margin-top -5px
                        background $img('seta-projeto.png') no-repeat center
                        transform rotate(180deg)
                &.proximo
                    padding-right 16px
                    &:after
                        content ''
                        position absolute
                        width 9px
                        height 11px
                        right 0
                        top 50%
                        margin-top -5px
                        background $img('seta-projeto.png') no-repeat center
                &.menu
                    padding-right 16px
                    &:after
                        content ''
                        position absolute
                        width 9px
                        height 11px
                        right 0
                        top 50%
                        margin-top -5px
                        background $img('seta-projeto.png') no-repeat center
                        transform rotate(180deg)
                &.topo
                    padding-top 14px
                    display inline-block
                    margin-top 14px
                    transform translateX(10px)
                    &:after
                        content ''
                        position absolute
                        width 9px
                        height 11px
                        left 50%
                        margin-left -5px
                        top 0
                        background $img('seta-projeto.png') no-repeat center top
                        transform rotate(-90deg)
